* {
  font-size: 26px;
  line-height: 40px;
}

body {
  color: #333232;
  margin: 0;
  font-family: "Exo 2", sans-serif;
}

.topo {
  padding: 25px;
  background-position: center;
  background-size: cover;
  text-align: center;
  font-style: italic;
  color: black;
}

.container {
  margin: 0 80px 0 80px;
}

img {
  width: 280px;
}
.filter {
  position: relative;
  -webkit-filter: contrast(90%) brightness(110%) saturate(150%)
    hue-rotate(-10deg);
  filter: contrast(90%) brightness(110%) saturate(150%) hue-rotate(-10deg);
}
